table {
    border: solid 4px;
    border-collapse: collapse;
}

td {
    border: solid 1px;
    padding: 15px;
    width: 35px;
    text-align: center;
    font-size: 25px;
}

.button {
    text-align: center;
    display: flex;
    margin-top: 5px;
}

button {
    margin-right: 20px;
    padding: 1px 10px;
}

.run {
    background-Color: #FFB3CC;
}

.selected {
    background-Color: #FF0569;
}
